<footer>
  <small>
    The Ruby on Rails tutorial by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to("About", "#") %></li>
      <li><%= link_to("Contact", "#") %></li>
      <li><a href="http://google.com">News</a></li>
    </ul>
  </nav>
</footer>